---
layout: page
title: Do IT 프로그래밍
permalink: /
---

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp"> 정말 필요했던 프로그래밍 교육 <br> "두잇 프로그래밍" </h1>
          <p class="animated fadeInUp">두잇 프로그래밍은 학생들의 아이디어를 실력있는 대학생 멘토와 함께 구현하며 포트폴리오를 만들어냅니다. 기획부터 시작하는 프로그래밍 교육, 두잇이 유일합니다.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="block">
          <div class="section-title">
            <h2>두잇은 뭐하는 곳인가요?</h2>
            <p>두잇은 학생들이 팀을 구성하여, 프로젝트를 만들며 배우는 프로그래밍 교육 학원입니다. 컴퓨터 관련 고등학교/대학교에 입학하고 싶다면 두잇이 최선입니다.</p>
          </div>
          <p>두잇에서는 다른 흔한 컴퓨터 학원들과 달리 기초적인 프로그래밍 언어를 가르치지 않습니다. 너무 기초적인 내용을 배워봤자 학생들은 아무것도 하지 못하며 입시에서 내 노력과 관심을 어필할 수 없습니다. 두잇은 기획부터 시작하여 배우는 프로그래밍 교육 시스템을 통해 프로그래밍에 대한 전반적인 이해, 대학에서 어필할 수 있는 포트폴리오까지 얻을 수 있는 최초의 프로그래밍 교육 학원입니다.  </p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-md-5 col-sm-12">
        <div class="block">
          <img src="img/wrapper-img.png" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>두잇은 어떻게 가르치나요?</h2>
      <p>두잇에는 개인/팀으로 등록할 수 있습니다. 4인의 팀을 권장하며 개인으로 신청시 개인 신청자 4인을 모아 팀을 구성해드립니다. 팀 별로 컴퓨터 관련 최고 수준 학교, 학과의 대학생 멘토가 2인 배정됩니다. 멘토들에 대한 자세한 이력은 두잇 포트폴리오를 참고해주세요! </p>
      <p>[1.아이디어 떠올리기] 팀 단위로 아이디어를 만들어냅니다. 경험 많은 멘토들의 도움과 기술적인 내용에 대한 강의를 더한 아이디어 떠올리기 시간은 학생들에게 큰 도움이 됩니다. 멘토에게 가장 많은걸 배울 수 있는 단계입니다. </p>
      <p>[2.프로젝트 만들기] 프로젝트를 직접 만들어보는 단계입니다. 학생들이 만들기 어려운 부분은 모두 멘토가 도맡아 진행합니다. 학생들은 이 단계에서 중요한 파트를 만들기 위한 이론을 멘토에게 배웁니다. 또한 학생들은 각자가 맡을 파트를 배정받아 이후 자기소개서 등에 포트폴리오를 첨부할 때 본인이 이 프로젝트에서 무엇을 담당했고, 무엇을 어떻게 해결했는지 등에 대해 자세히 기록할 수 있습니다. </p>
      <p>[3.프로젝트 완성, 피드백 받기] 프로젝트를 완성하고 끝나지 않습니다. 학생들은 스스로 본인이 맡은 파트에 대한 발표를 진행하며 이를 통해 다른 학생들은 어떻게 했는지, 본인의 담당 파트를 어떻게 하면 어필할 수 있을지에 대해 고민하고 배우는 시간을 갖습니다. 이는 추후 여러 면접이나 프로젝트를 이해하는 데 도움이 됩니다. </p>
      <a href="/work" class="btn btn-view-works">자세한 커리큘럼 살펴보기</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>두잇에서만 얻을 수 있는 것들</h2>
        <p>두잇에서만 얻을 수 있는 것들은 아무리 말을 해도 부족합니다. 업계 최고 수준의 멘토들과 학원비 수준의 금액으로 얻기 어려운 포트폴리오, 실제 프로그래밍에 대한 이해까지. 오직 두잇에서만 얻을 수 있습니다.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon ion-coffee"></i>
          <h4>포트폴리오</h4>
          <p>소논문, 포트폴리오가 고등학교/대학교 입시에 인기가 많죠? 간혹 수천만원으로 사던 포트폴리오, 두잇에서는 단 두달의 수강으로 얻을 수 있습니다. </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>프로그래밍에 대한 이해</h4>
          <p>영어 문법을 배운다고 영어로 대화할 수 없듯, 기초 프로그래밍 언어만을 익힌다고 화려한 프로그램을 만들지 못합니다. 두잇에서는 핵심만을 가르치고 멘토들의 강력한 도움으로 단기간 프로그래밍에 대한 이해를 최대화할 수 있습니다.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-image"></i>
          <h4>착한 가격, 월 120만원</h4>
          <p>강남권에서 이 가격으로 소규모 팀 수업 + 포트폴리오 + 각종 입시에 도움이 되는 스킬 습득을 얻을 수 없습니다. 오직 두잇만이 드리는 선물입니다.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-bug"></i>
          <h4>각종 편의 서비스 제공</h4>
          <p>강남역 도보 5분 이내 거리에 존재하는 최고급 스터디 룸에서, 최고급 노트북을 사용할 수 있고, 여기에 체계적인 학생 관리 시스템까지! </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-headphone"></i>
          <h4>Logo Design</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-leaf"></i>
          <h4>Development</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-planet"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-earth"></i>
          <h4>Brand Identity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>내 아이에게 프로그래밍을 가르치고 싶다면 두잇입니다.</h2>
          <p>지루한 컴퓨터학원 및 과외에 지치셨다면, 학원에 보냈는데 무엇을 하고 오는지 모르겠다면, 우리 두잇을 찾아와주세요! 24시간 상담원들이 온라인/오프라인에서 상담드리겠습니다.</p>
          <a class="btn btn-default btn-call-to-action" href="/contact" >두잇 상담 받기</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Content Start -->
<section id="testimonial">
  <div class="container">
    <div class="row">
      <div class="section-title text-center">
        <h2>이미 수많은 학부모님들이 두잇의 멘토들을 보증합니다.</h2>
        <p>어린 대학생들이라 의심이 가셨다면 이 페이지를 주목하세요! 이미 프로그래밍 수업 시장에서 우리 두잇의 강사진들이 업계 최고 수준의 교육을 제공한다는 것은 사실입니다.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        {% if site.data.funfacts.size > 0 %}
        <div class="block">
          {% for ff in site.data.funfacts %}
          <ul class="counter-box clearfix">
            <li>
              <div class="block">
                <i class="{{ ff.icon }}"></i>
                <h4 class="counter">{{ ff.counter }}</h4>
                <span>{{ ff.text }}</span>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      <div class="col-md-6">
        {% if site.data.testimonials.size > 0 %}
        <div class="testimonial-carousel">
          <div id="testimonial-slider" class="owl-carousel">
            {% for tm in site.data.testimonials %}
            <div>
                <img src="img/cotation.png" alt="IMG">
                <p>{{ tm.testimonial }}</p>
                <div class="user">
                  <img src="{{ tm.image }}" alt="Pepole">
                  <p><span>{{ tm.name }}</span> {{ tm.title }}</p>
                </div>
            </div>
            {% endfor %}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
