<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="/">두잇 프로그래밍</a></li>
            <li><a href="{{ site.baseurl }}/contact">두잇 커리큘럼</a></li>
            <li><a href="{{ site.baseurl }}/blog">두잇 포트폴리오</a></li>
            <li><a href="{{ site.baseurl }}/qna">질문 & 답변</a></li>
            <li><a href="{{ site.baseurl }}/contact">접수하기</a></li>
          </ul>
        </div>
        <p>Copyright &copy; Developed by <a href="http://github.com/TaeBbong">권 태 형</a>. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
